
/* reset */
body, div, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*body {
	
}
*/
#overlay {
	width: 100%;
	background-color: #dedede;
	position: absolute;
	height: 100%;
	padding-top: 100px;
	transition: top 1s linear;
	top: 0vh;
}

#overlay.hide {
	top: -100vh;
	padding: 0;
}

#overlay .container {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

#overlay .container form {
	font-size: 24px;
}
#overlay .container form input {
	font-size: 18px;
	padding: 7px;
}
#overlay .container form input[type="submit"] {
	margin-top: 40px;
}

.board {
	padding-top: 100px;
	width: 30%;
	margin: auto;
}

ul {
	list-style-type: none;
}

div.row {
	display: flex;
	height: 150px;
}

li.cell {
	display: inline-flex;
	width: 150px;
	height: 150px;
	border: 2px solid #dedede;
	vertical-align: top;
} 